.error {
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  background: pink;
  border: 1px solid #ff9191;
  text-align: center;
  cursor: pointer;
}

.alert {
  width: 100%;
  padding: 15px;
  color: black;
  font-weight: bold;
  background: lightyellow;
  border: 1px solid yellow;
  text-align: center;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.mainLayout {
  background: rgb(248, 227, 255);
  background: radial-gradient(
    circle,
    rgb(249, 230, 255) 13%,
    rgba(255, 255, 255, 1) 70%
  );
  height: 100%;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
}

.nav h1 {
  padding: 0 2vw;
  font-weight: 400;
  /* color: #7c638e; */
}

.links {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.bloom {
  background: -webkit-linear-gradient(#ff9dfb, #d92bfb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloomHead {
  text-align: center;
  max-width: 900px;
  margin-bottom: 2vh;
  margin-top: 15vh;
  font-size: clamp(3rem, 12vw, 4rem);
}

.bloomSub {
  color: #a7a7a7;
  font-size: 2em;
  margin-top: 0;
  font-weight: 200;
  text-align: center;
}

.signupLink {
  border: 1px solid #ff9dfb;
  padding: 2vh 8vw;
  border-radius: 8px;
  margin-top: 5vh;
  font-weight: bold;
}

.signupLink:hover {
  color: white;
  background: linear-gradient(#ff9dfb, #ec81e9);
}
