.error {
  margin-top: 3vh;
  width: 95%;
  padding: 15px;
  color: white;
  font-weight: bold;
  background: pink;
  border: 1px solid #ff9191;
  margin-bottom: 3vh;
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
}

.nav h1 {
  padding: 0 2vw;
  font-weight: 400;
  /* color: #7c638e; */
}

.links {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}
